<%- include("_header") -%>

<p> Votre créneaux à été inseré dans la base de données... Rendez vous sur "Planning" pour voir les créneaux avec suffisament de personnes pour participer à un Chat. </p>

<%- include("_footer") -%>
